
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  position: relative;
  min-height: 100vh;
  width: 100%;
  font-family: 'Oswald', sans-serif;
  background-color: lightskyblue;
}

.container{
  background-color: #0c4a70;
  width: 90%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.8;
}

h1{
  text-align: center;
  font-size: 1.5em;
  text-transform: uppercase;
  color: white;
}

nav{
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.1rem;
  border-bottom: 2px solid black;
  padding-bottom: 0.7em;
  color: rgb(214, 209, 209);
}

nav .txt_year{
  background: white;
  text-align: center;
   width: 115px;
}

nav .btn{
  background-color: white;
  border-radius: 10px;
  padding-left: 0.2em;
  padding-right: 0.2em;
  cursor: pointer;
  margin-top: 0.2em;
}

nav .year,
nav .grupo,
nav .subgrupo{
  margin: 0.5em;
}

nav .btn:hover{
  color: lime;
}

nav .txt_year,
nav select,
nav .btn{
  font-size: 1em;
}


select{
  margin-left: 7px;
  background-color: white;
}

.tabla-calendario{
  width: 70%;
  min-width: 17em;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(3, minmax(9em, 1fr));
  justify-items: center;
  justify-content: center;
  gap: 10px;
}

.tabla-calendario div{
  background-color: rgb(56, 93, 161);
  width: 13em;
}

.tabla-calendario div h4{
  text-align: center;
}

.dates_week div{
  width: 5px;
}

.dates_week{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: center;
  justify-items: center;
  color: rgb(214, 209, 209);
}

h4, .color_dias{
  color: rgb(214, 209, 209);
}

footer {
  bottom: 0;
  width: 90%;
  margin:  0 auto;
  background-color: cornflowerblue;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}


.libres{
  color: lime;
}

.sub{
  /*color: rgb(32, 29, 29);*/
  color: black;
}

.sub1{
  color: yellow;
}

.sub2{
  color: blue;
}


@media screen and (max-width: 1220px){
  .tabla-calendario{
    grid-template-columns: repeat(2, 1fr);
  }

  *{
    font-size: 1em;
  }

  nav .txt_year,
  nav select,
  nav .btn{
    font-size: 0.8em;
  }

  body{
    overflow: auto;
  }
}


@media screen and (max-width: 765px){
  .tabla-calendario{
    grid-template-columns: repeat(1, 1fr);
  }
}





